doctype html
html(lang="ja")
  head
    title 駅メモマップ
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(href='//fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css', rel='stylesheet')
    //- link(href='css/vendors.css', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet')
    meta(name='description', content='地図から最寄り駅がわかる駅メモマップ。レーダーが届く範囲を調べたり、訪問した駅を塗りつぶして記録することもできる')
  body
    .fixed-action-btn.horizontal.click-to-toggle(style='top: 10px; right: 10px; height: 0;')
      a.btn-floating.btn-large.pink.lighten-2
          i.large.mdi-navigation-menu
        ul
          li
            a.js-btn-polygon.btn-floating.teal(title='境界線')
              i.material-icons dashboard
          li
            a.js-btn-marker.btn-floating.cyan(title='駅マーカー')
              i.material-icons room
          li
            a.js-btn-rader.btn-floating.disabled(title='レーダー')
              i.material-icons settings_remote

    #modal.modal
      .modal-content
        h5.update-date(data-updated='20160314') アップデート情報
        p
          | URLのハッシュ（#）以下に地名または緯度経度を入れるとその地名を中心に地図を表示するようにしました
          br
          | 例）
          a(href='#名古屋') 名古屋
          | 、
          a(href='#東京タワー') 東京タワー
          | 、
          a(href='#女子大') 女子大
          | 、
          a(href='#35,135') 北緯35度 東経135度
          |  [Feb 17, 2016]
        p
          | レーダーの距離計算方法を簡易（駅メモと同じ）に変更しました
          |  [Feb 17, 2016]
      .modal-footer
        button.modal-action.modal-close.btn.red.waves-effect.waves-light OK

    #map
    script(src='//maps.googleapis.com/maps/api/js?key=AIzaSyD4abQe_zOs7mP-0Jk5gWQZ_JST7hSM0QM')
    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='///cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js')
    //- script(src='js/vendors.js')
    script(src='js/main.js')
