doctype html
html(lang="ja")
  head
    title 駅メモマップ
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(href='//fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css', rel='stylesheet')
    //- link(href='css/vendors.css', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet')
  body
    .fixed-action-btn.horizontal.click-to-toggle(style='top: 10px; right: 10px; height: 0;')
      a.btn-floating.btn-large.pink.lighten-2
          i.large.mdi-navigation-menu
        ul
          li
            a.js-btn-polygon.btn-floating.teal
              i.material-icons dashboard
          li
            a.js-btn-marker.btn-floating.cyan
              i.material-icons room
          li
            a.js-btn-rader.btn-floating.disabled
              i.material-icons settings_remote

    #map
    script(src='//maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyD4abQe_zOs7mP-0Jk5gWQZ_JST7hSM0QM')
    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='///cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js')
    //- script(src='js/vendors.js')
    script(src='js/main.js')
